
package com.igomall.entity;

[#list module.properties as property]
[#if property.type=="Date"]
import java.util.Date;
[#elseif property.type=="BigDecimal"]
import java.math.BigDecimal;
[/#if]
[/#list]

import javax.persistence.Entity;
import com.fasterxml.jackson.annotation.JsonView;

/**
 * Entity - ${module.memo}
 * 
 * @author IGOMALL  Team
 * @version 1.0
 */
@Entity
public class ${module.capitalize()} extends BaseEntity<Long> {


	[#list module.properties as property]	
	/**
	 * ${property.memo}
	 */
	@JsonView({ListView.class,EditView.class})
	private ${property.type} ${property.name};
	
	[/#list]
	
	[#list module.properties as property]
	
	/**
	 * 设置${property.memo}
	 * 
	 * @param ${property.name}
	 *     ${property.memo}
	 */
	public void set${property.capitalize()}(${property.type} ${property.name}) {
		this.${property.name} = ${property.name};
	}

	/**
	 * 获取${property.memo}
	 * 
	 * @return ${property.memo}
	 */
	public ${property.type} get${property.capitalize()}() {
		return ${property.name};
	}
	[/#list ]

	public interface ListView extends BaseView {};
    
    public interface EditView extends BaseView{}
}