<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Metronic | Dashboard</title>
		<meta name="description" content="Latest updates and statistic charts">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
		[#include "/admin/include/css/web_font.html"]
		[#include "/admin/include/css/global_mandatory_vendors.html"]
		[#include "/admin/include/css/global_optional_vendors.html"]
		[#include "/admin/include/css/global_theme_styles.html"]
		[#include "/admin/include/css/page_vendors_styles.html"]
		[#include "/admin/include/css/shortcut.html"]
		<link href="${base}/resources/admin/css/custom.css" rel="stylesheet" type="text/css" />
	</head>
	<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
		<div class="m-grid m-grid--hor m-grid--root m-page">
			[#include "/admin/include/header.html"]
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				[#include "/admin/include/left_aside.html"]
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
					<div class="m-content">
						<div class="m-portlet m-portlet--mobile">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<h3 class="m-portlet__head-text">
											标题
										</h3>
									</div>
								</div>
							</div>
							<div class="m-portlet__body">
								<div class="m-form m-form--label-align-right m--margin-top m--margin-bottom-10">
									<div class="row align-items-center">
										<div class="col-xl-6 flex-first-xl-down">
											<a href="#" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--icon m-btn--air">
												<span>New Order</span>
											</a>
										</div>
									</div>
								</div>
								<!--begin: Datatable -->
								<div class="m_datatable" id="locked_both"></div>
								<!--end: Datatable -->
							</div>
						</div>
					</div>
				</div>
			</div>
			[#include "/admin/include/footer.html"]
		</div>
		[#include "/admin/include/quick_sidebar.html"]
		<div id="m_scroll_top" class="m-scroll-top">
			<i class="la la-arrow-up"></i>
		</div>
		[#include "/admin/include/js/global_mandatory_vendors.html"]
		[#include "/admin/include/js/global_optional_vendors.html"]
		[#include "/admin/include/js/global_theme_bundle.html"]
		[#include "/admin/include/js/page_vendors.html"]
		<script src="${base}/resources/admin/js/project/list.js" type="text/javascript"></script>
	</body>
</html>